In [1]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt 
import seaborn as sns
from pylab import rcParams
%matplotlib inline

In [5]:
df = pd.read_excel('Data for Paper.xlsx', index_col=0)
df.head()

,Date,Year,DatesAvailable,CrudeOilPrice,GoldPrice,NaturalGasPrice,SilverPrice
Month,,,,,,,
Aug,16,2019,"Aug 16, 2019",55.20,1532.45,2.215,17.203
Aug,15,2019,"Aug 15, 2019",54.78,1537.00,2.220,17.275
Aug,14,2019,"Aug 14, 2019",55.23,1527.80,2.143,17.280
Aug,13,2019,"Aug 13, 2019",57.10,1514.10,2.147,16.985
Aug,12,2019,"Aug 12, 2019",54.93,1517.20,2.105,17.071

In [6]:
df = df.drop(['Date', 'Year', 'NaturalGasPrice'], axis=1) # removing unnecessary columns
df.head()

      DatesAvailable  CrudeOilPrice  GoldPrice  SilverPrice
Month
Aug     Aug 16, 2019          55.20    1532.45       17.203
Aug     Aug 15, 2019          54.78    1537.00       17.275
Aug     Aug 14, 2019          55.23    1527.80       17.280
Aug     Aug 13, 2019          57.10    1514.10       16.985
Aug     Aug 12, 2019          54.93    1517.20       17.071

In [7]:
df['DatesAvailable']= pd.to_datetime(df['DatesAvailable']) # converting 'DatesAvailable' to datetime
df.head()

      DatesAvailable  CrudeOilPrice  GoldPrice  SilverPrice
Month
Aug       2019-08-16          55.20    1532.45       17.203
Aug       2019-08-15          54.78    1537.00       17.275
Aug       2019-08-14          55.23    1527.80       17.280
Aug       2019-08-13          57.10    1514.10       16.985
Aug       2019-08-12          54.93    1517.20       17.071

In [8]:
df.set_index('DatesAvailable', inplace=True) # setting 'DatesAvailable' as index column
df.head()

                CrudeOilPrice  GoldPrice  SilverPrice
DatesAvailable
2019-08-16              55.20    1532.45       17.203
2019-08-15              54.78    1537.00       17.275
2019-08-14              55.23    1527.80       17.280
2019-08-13              57.10    1514.10       16.985
2019-08-12              54.93    1517.20       17.071

In [9]:
df1 = pd.read_excel('S&P Futures.csv.xlsx', parse_dates = True, index_col=0)
df1.head()

              Price
Date
2019-07-29  3021.75
2019-07-26  3024.50
2019-07-25  3006.50
2019-07-24  3021.50
2019-07-23  3008.00

In [10]:
DF = df1.loc['20190729':'20000104'] 
DF.head()

              Price
Date
2019-07-29  3021.75
2019-07-26  3024.50
2019-07-25  3006.50
2019-07-24  3021.50
2019-07-23  3008.00

In [11]:
data = [DF,df] # combining dataframes
result = pd.concat(data, axis=1)
result.head()

              Price  CrudeOilPrice  GoldPrice  SilverPrice
2000-01-04  1411.75          25.55      282.7        5.335
2000-01-05  1413.50          24.91      281.1        5.170
2000-01-06  1404.00          24.78      281.4        5.127
2000-01-07  1460.50          24.22      281.9        5.150
2000-01-10  1475.00          24.67      281.7        5.145

In [12]:
result = result.rename(columns = {"Price": "Index"}) # renaming column
result.head() # display

              Index  CrudeOilPrice  GoldPrice  SilverPrice
2000-01-04  1411.75          25.55      282.7        5.335
2000-01-05  1413.50          24.91      281.1        5.170
2000-01-06  1404.00          24.78      281.4        5.127
2000-01-07  1460.50          24.22      281.9        5.150
2000-01-10  1475.00          24.67      281.7        5.145

In [13]:
DATA = result.fillna(method ='pad') # filling the missing values with previous ones 
DATA.isnull().sum()

Index            0
CrudeOilPrice    0
GoldPrice        0
SilverPrice      0
dtype: int64

In [21]:
DATA.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 5019 entries, 2000-01-04 to 2019-08-16
Data columns (total 4 columns):
Index            5019 non-null float64
CrudeOilPrice    5019 non-null float64
GoldPrice        5019 non-null float64
SilverPrice      5019 non-null float64
dtypes: float64(4)
memory usage: 356.1 KB

In [14]:
DATA.index.name = 'Date'
DATA.head()

              Index  CrudeOilPrice  GoldPrice  SilverPrice
Date
2000-01-04  1411.75          25.55      282.7        5.335
2000-01-05  1413.50          24.91      281.1        5.170
2000-01-06  1404.00          24.78      281.4        5.127
2000-01-07  1460.50          24.22      281.9        5.150
2000-01-10  1475.00          24.67      281.7        5.145

In [15]:
from talib import RSI, BBANDS

In [15]:
pip install pyti

Collecting pyti
  Downloading https://files.pythonhosted.org/packages/0f/9a/913e5bc3c3e812b490338fc9096b608cf0e19d1c3cd5b1c2b58b77b69b85/pyti-0.2.2-py2.py3-none-any.whl
Requirement already satisfied: pandas in c:\users\sarit\anaconda3\envs\tensorflow\lib\site-packages (from pyti) (0.24.2)
Requirement already satisfied: numpy in c:\users\sarit\anaconda3\envs\tensorflow\lib\site-packages (from pyti) (1.16.4)
Requirement already satisfied: pytz>=2011k in c:\users\sarit\anaconda3\envs\tensorflow\lib\site-packages (from pandas->pyti) (2019.1)
Requirement already satisfied: python-dateutil>=2.5.0 in c:\users\sarit\anaconda3\envs\tensorflow\lib\site-packages (from pandas->pyti) (2.8.0)
Requirement already satisfied: six>=1.5 in c:\users\sarit\anaconda3\envs\tensorflow\lib\site-packages (from python-dateutil>=2.5.0->pandas->pyti) (1.12.0)
Installing collected packages: pyti
Successfully installed pyti-0.2.2
Note: you may need to restart the kernel to use updated packages.

In [16]:
#import funcs
from pyti.bollinger_bands import upper_bollinger_band as ubb
from pyti.bollinger_bands import middle_bollinger_band as mbb
from pyti.bollinger_bands import lower_bollinger_band as lbb
from pyti.bollinger_bands import percent_bandwidth as percent_b

In [17]:
A = pd.DataFrame (DATA['CrudeOilPrice'])

In [20]:
A.head()

            CrudeOilPrice
Date
2000-01-04          25.55
2000-01-05          24.91
2000-01-06          24.78
2000-01-07          24.22
2000-01-10          24.67

In [52]:
A.shape

(5019, 1)

### Moving average

In [21]:
A['ma_20'] = A.CrudeOilPrice.rolling(window=20).mean().fillna(0)
A['ma_100'] = A.CrudeOilPrice.rolling(window=100).mean().fillna(0)

### Volatility

In [22]:
A['std_20'] = DATA.CrudeOilPrice.rolling(window=20).std().fillna(0)
A['std_100'] = DATA.CrudeOilPrice.rolling(window=100).std().fillna(0)

### Relative strength index

In [25]:
A['rsi'] = RSI(DATA.CrudeOilPrice, timeperiod=14).fillna(0)

### Bollinger Bands

In [26]:
pip install ta

Requirement already satisfied: ta in c:\users\sarit\anaconda3\envs\tensorflow\lib\site-packages (0.4.5)
Requirement already satisfied: scikit-learn in c:\users\sarit\anaconda3\envs\tensorflow\lib\site-packages (from ta) (0.21.2)
Requirement already satisfied: pandas in c:\users\sarit\anaconda3\envs\tensorflow\lib\site-packages (from ta) (0.24.2)
Requirement already satisfied: numpy in c:\users\sarit\anaconda3\envs\tensorflow\lib\site-packages (from ta) (1.16.4)
Requirement already satisfied: scipy>=0.17.0 in c:\users\sarit\anaconda3\envs\tensorflow\lib\site-packages (from scikit-learn->ta) (1.3.0)
Requirement already satisfied: joblib>=0.11 in c:\users\sarit\anaconda3\envs\tensorflow\lib\site-packages (from scikit-learn->ta) (0.13.2)
Requirement already satisfied: python-dateutil>=2.5.0 in c:\users\sarit\anaconda3\envs\tensorflow\lib\site-packages (from pandas->ta) (2.8.0)
Requirement already satisfied: pytz>=2011k in c:\users\sarit\anaconda3\envs\tensorflow\lib\site-packages (from pandas->ta) (2019.1)
Requirement already satisfied: six>=1.5 in c:\users\sarit\anaconda3\envs\tensorflow\lib\site-packages (from python-dateutil>=2.5.0->pandas->ta) (1.12.0)
Note: you may need to restart the kernel to use updated packages.

In [27]:
from ta import *
# Add bollinger band high indicator filling Nans values
A['bb_high_indicator'] = bollinger_hband_indicator(DATA.CrudeOilPrice, n=20, ndev=2, fillna=True)
# Add bollinger band low indicator filling Nans values
A['bb_low_indicator'] = bollinger_lband_indicator(DATA.CrudeOilPrice, n=20, ndev=2,fillna=True)

#### MACD: (12-day EMA - 26-day EMA)

In [28]:
A['26_ema'] = A.CrudeOilPrice.ewm(span=26).mean().fillna(0)
A['12_ema'] = A.CrudeOilPrice.ewm(span=12).mean().fillna(0)

In [29]:
A['macd'] = A['12_ema'] - A['26_ema']

### Commodity Channel Index (CCI)
CCI can be used to identify cyclical turns across asset classes
The CCI looks at the relationship between price and a moving average. Steps involved in the estimation of CCI include:
 - Computing the typical price for the security. 
 - Finding the moving average for the chosen number of days based on the typical price.
 - Computing the standard deviation for the same period as that used for the MA.

In [31]:
A['CCI'] = (DATA['CrudeOilPrice'].mean() - DATA['CrudeOilPrice'].rolling(window=20).mean().fillna(0)) /(0.015 * 26.382652)

In [32]:
A['Index'] = DATA['Index']
A.head()

,CrudeOilPrice,ma_20,ma_100,std_20,std_100,rsi,bb_high_indicator,bb_low_indicator,26_ema,12_ema,macd,CCI,Index
Date,,,,,,,,,,,,,
2000-01-04,25.55,0.0,0.0,0.0,0.0,0.0,0.0,0.0,25.550000,25.550000,0.000000,156.614459,1411.75
2000-01-05,24.91,0.0,0.0,0.0,0.0,0.0,0.0,0.0,25.217692,25.203333,-0.014359,156.614459,1413.50
2000-01-06,24.78,0.0,0.0,0.0,0.0,0.0,0.0,0.0,25.060434,25.038106,-0.022327,156.614459,1404.00
2000-01-07,24.22,0.0,0.0,0.0,0.0,0.0,0.0,0.0,24.825485,24.779862,-0.045623,156.614459,1460.50
2000-01-10,24.67,0.0,0.0,0.0,0.0,0.0,0.0,0.0,24.789428,24.750013,-0.039415,156.614459,1475.00

In [111]:
A.to_csv('A.csv', index=False)

In [18]:
import h2o

In [28]:
h2o.init()

Checking whether there is an H2O instance running at http://localhost:54321 ..... not found.
Attempting to start a local H2O server...
; Java HotSpot(TM) 64-Bit Server VM (build 25.221-b11, mixed mode)
  Starting server from C:\Users\Sarit\Anaconda3\envs\tensorflow\lib\site-packages\h2o\backend\bin\h2o.jar
  Ice root: C:\Users\Sarit\AppData\Local\Temp\tmpw4hjnn8c
  JVM stdout: C:\Users\Sarit\AppData\Local\Temp\tmpw4hjnn8c\h2o_Sarit_started_from_python.out
  JVM stderr: C:\Users\Sarit\AppData\Local\Temp\tmpw4hjnn8c\h2o_Sarit_started_from_python.err
  Server is running at http://127.0.0.1:54331
Connecting to H2O server at http://127.0.0.1:54331 ... successful.

--------------------------  ------------------------------------------
H2O cluster uptime:         37 secs
H2O cluster timezone:       Asia/Singapore
H2O data parsing timezone:  UTC
H2O cluster version:        3.26.0.3
H2O cluster version age:    4 days
H2O cluster name:           H2O_from_python_Sarit_hviaga
H2O cluster total nodes:    1
H2O cluster free memory:    1.736 Gb
H2O cluster total cores:    8
H2O cluster allowed cores:  8
H2O cluster status:         locked, healthy
H2O connection url:         http://127.0.0.1:54331
H2O connection proxy:
H2O internal security:      False
H2O API Extensions:         Amazon S3, Algos, AutoML, Core V3, Core V4
Python version:             3.7.3 final
--------------------------  ------------------------------------------

In [18]:
B = pd.DataFrame (DATA['GoldPrice'])

In [22]:
from ta import *

In [24]:
B['ma_20'] = B.GoldPrice.rolling(window=20).mean().fillna(0)
B['ma_100'] = B.GoldPrice.rolling(window=100).mean().fillna(0)

B['std_20'] = DATA.GoldPrice.rolling(window=20).std().fillna(0)
B['std_100'] = DATA.GoldPrice.rolling(window=100).std().fillna(0)

B['rsi'] = RSI(DATA.GoldPrice, timeperiod=14).fillna(0)

In [26]:
# Add bollinger band high indicator filling Nans values
B['bb_high_indicator'] = bollinger_hband_indicator(DATA.GoldPrice, n=20, ndev=2, fillna=True)
# Add bollinger band low indicator filling Nans values
B['bb_low_indicator'] = bollinger_lband_indicator(DATA.GoldPrice, n=20, ndev=2,fillna=True)

In [27]:
B['26_ema'] = DATA.GoldPrice.ewm(span=26).mean().fillna(0)
B['12_ema'] = DATA.GoldPrice.ewm(span=12).mean().fillna(0)

B['macd'] = B['12_ema'] - B['26_ema']

B['CCI'] = (DATA['GoldPrice'].mean() - DATA['GoldPrice'].rolling(window=20).mean().fillna(0)) /(0.015 * 26.382652)

B['Index'] = DATA['Index']
B.head()

,GoldPrice,ma_20,ma_100,std_20,std_100,rsi,bb_high_indicator,bb_low_indicator,26_ema,12_ema,macd,CCI,Index
Date,,,,,,,,,,,,,
2000-01-04,282.7,0.0,0.0,0.0,0.0,0.0,0.0,0.0,282.700000,282.700000,0.000000,2396.233508,1411.75
2000-01-05,281.1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,281.869231,281.833333,-0.035897,2396.233508,1413.50
2000-01-06,281.4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,281.700641,281.664203,-0.036437,2396.233508,1404.00
2000-01-07,281.9,0.0,0.0,0.0,0.0,0.0,0.0,0.0,281.756373,281.738635,-0.017738,2396.233508,1460.50
2000-01-10,281.7,0.0,0.0,0.0,0.0,0.0,0.0,0.0,281.743300,281.728138,-0.015162,2396.233508,1475.00

In [28]:
B.to_csv('B.csv', index=False)

In [21]:
C = pd.DataFrame (DATA['SilverPrice'])

In [22]:
C['ma_20'] = DATA.SilverPrice.rolling(window=20).mean().fillna(0)
C['ma_100'] = DATA.SilverPrice.rolling(window=100).mean().fillna(0)

C['std_20'] = DATA.SilverPrice.rolling(window=20).std().fillna(0)
C['std_100'] = DATA.SilverPrice.rolling(window=100).std().fillna(0)

C['rsi'] = RSI(DATA.SilverPrice, timeperiod=14).fillna(0)

In [24]:
from ta import *

In [26]:
# Add bollinger band high indicator filling Nans values
C['bb_high_indicator'] = bollinger_hband_indicator(DATA.SilverPrice, n=20, ndev=2, fillna=True)
# Add bollinger band low indicator filling Nans values
C['bb_low_indicator'] = bollinger_lband_indicator(DATA.SilverPrice, n=20, ndev=2,fillna=True)

C['26_ema'] = DATA.SilverPrice.ewm(span=26).mean().fillna(0)
C['12_ema'] = DATA.SilverPrice.ewm(span=12).mean().fillna(0)

C['macd'] = C['12_ema'] - C['26_ema']

C['CCI'] = (DATA['SilverPrice'].mean() - DATA['SilverPrice'].rolling(window=20).mean().fillna(0)) /(0.015 * 26.382652)

C['Index'] = DATA['Index']
C.head()

,SilverPrice,ma_20,ma_100,std_20,std_100,rsi,bb_high_indicator,bb_low_indicator,26_ema,12_ema,macd,CCI,Index
Date,,,,,,,,,,,,,
2000-01-04,5.335,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.335000,5.335000,0.000000,37.739279,1411.75
2000-01-05,5.170,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.249327,5.245625,-0.003702,37.739279,1413.50
2000-01-06,5.127,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.205376,5.199326,-0.006050,37.739279,1404.00
2000-01-07,5.150,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.189895,5.183755,-0.006140,37.739279,1460.50
2000-01-10,5.145,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.179484,5.173226,-0.006258,37.739279,1475.00

In [27]:
C.to_csv('C.csv', index=False)